---
import Layout from "../../layouts/Layout.astro";
import LivingLabForm from "../../components/react/form/LivingLabForm";
import ApiClient from "../../lib/api-client/ApiClient";

const labId = Astro.locals.livingLab?.id;
if (!labId) {
  return Astro.redirect(getUrl("/lab-admin/set-lab"));
}

const api = new ApiClient(Astro.request);
let initialLab = await api.getLivingLab(labId);
if (!initialLab) {
  return Astro.redirect(getUrl("/lab-admin/set-lab"));
}
---

<Layout role="editor">
  <div class="px-6 py-12">
    <section class="max-w-3xl mx-auto">
      <h2>Provide context about the Living Lab and city</h2>
      <p class="text-warning italic mb-6">
        Use the form to provide a name and approximate geolocation and activity
        metrics for visualization purposes.
      </p>
      <LivingLabForm livingLab={initialLab ?? undefined} client:load />
    </section>
  </div>
</Layout>
