---
import Layout from "../../layouts/Layout.astro";
import { LivingLabKPIsEdition, InfoAlert } from "../../components/react";
import ApiClient from "../../lib/api-client/ApiClient";

const labId = Astro.locals.livingLab?.id;
if (!labId) {
  return Astro.redirect(getUrl("/lab-admin/set-lab"));
}
const api = new ApiClient(Astro.request);

const kpis = (await api.getKPIs({})) || [];
const modalSplitKpi = kpis.find((kpi) => kpi.kpi_number === "15");
const filteredKpis = kpis.filter(
  (kpi) =>
    kpi.id !== modalSplitKpi?.id && kpi.parent_kpi_id !== modalSplitKpi?.id
);
const livingLabData = await api.getLivingLab(labId);
const categories = await api.getCategories("KPI_SIEF");

const modalSplitResults = livingLabData?.kpi_results?.filter((result) =>
  filteredKpis?.some((mk) => mk.id === result.kpidefinition_id)
);

const valueBeforeDate = modalSplitResults?.reduce(
  (minDate, result) => {
    const dateStr = result.result_before?.date;
    if (dateStr) {
      const date = new Date(dateStr);
      if (!minDate || date < minDate) {
        return date;
      }
    }
    return minDate;
  },
  null as Date | null
);

const valueAfterDate = modalSplitResults?.reduce(
  (maxDate, result) => {
    const dateStr = result.result_after?.date;
    if (dateStr) {
      const date = new Date(dateStr);
      if (!maxDate || date > maxDate) {
        return date;
      }
    }
    return maxDate;
  },
  null as Date | null
);
---

<Layout role="editor">
  <div class="mx-auto px-4 py-8 flex flex-col gap-8">
    <h2>Share your Key Performance Indicators - KPI</h2>

    <InfoAlert
      title="How to calculate KPIs ?"
      icon="question"
      variant="success"
      actionText="Access documentation"
    >
      <small
        >Provide KPI values to quantify the impact of urban mobility measures
        implemented in your Living Lab.<br />

        <strong>Tip:</strong> Use the provided template to ensure all necessary data
        is captured. The <strong
          ><a href="/files/SIEF_All_KPIs-template.xlsx">SIEF KPIs template</a
          ></strong
        > will guide you to calculate the KPI values.</small
      >
    </InfoAlert>

    <LivingLabKPIsEdition
      categories={categories || []}
      kpis={filteredKpis}
      livingLabId={labId}
      kpiResults={livingLabData?.kpi_results || []}
      valueAfterDate={valueAfterDate
        ? valueAfterDate.toISOString().slice(0, 10)
        : undefined}
      valueBeforeDate={valueBeforeDate
        ? valueBeforeDate.toISOString().slice(0, 10)
        : undefined}
      client:load
    />
  </div>
</Layout>
