---
import Layout from "../../layouts/Layout.astro";
import { InfoAlert, LivingLabModalSplit } from "../../components/react";
import ApiClient from "../../lib/api-client/ApiClient";
import { EnumKpiMetricType } from "../../types";

const labId = Astro.locals.livingLab?.id;
if (!labId) {
  return Astro.redirect(getUrl("/lab-admin/set-lab"));
}
const api = new ApiClient(Astro.request);

const transportModes = await api.getTransportModes();
const modalSplitKpis = (await api.getKPIs({ kpi_number: "15" }))?.filter(
  (kpi) => kpi.metric !== EnumKpiMetricType.NONE
);
const livingLabData = await api.getLivingLab(labId);
const modalSplitResults = livingLabData?.kpi_results?.filter((result) =>
  modalSplitKpis?.some((mk) => mk.id === result.kpidefinition_id)
);
---

<Layout role="editor">
  <div class="mx-auto px-4 py-8 flex flex-col gap-8">
    <h2 class="text-2xl font-bold mb-4">Transport Modes</h2>
    <p class="text-sm text-gray-600 mb-6">
      Enter each mode, type, status, and optionally provide trips, passenger-km,
      or vehicle-km. At least one of the three is required.
    </p>

    <InfoAlert
      title="How to collect information ?"
      icon="question"
      variant="success"
      actionText="Access documentation"
    >
      <small
        >This page collects modal split for all transport modes, and will also
        allow to identify shared modes in service or scheduled to be integrated
        in the living lab network. Summary information, how to ? Examples
        resources, survey examples, any other usefull information ?</small
      >
    </InfoAlert>

    <LivingLabModalSplit
      modes={transportModes ?? []}
      kpis={modalSplitKpis ?? []}
      livingLabId={labId}
      livingLabTransportModes={livingLabData?.transport_mode_living_lab_implementation ||
        []}
      kpiResults={modalSplitResults ?? []}
      client:load
    />
  </div>
</Layout>
