---
import Layout from "../../layouts/Layout.astro";
import SignupForm from "../../components/react/form/SignupForm";
import ApiClient from "../../lib/api-client/ApiClient";

const api = new ApiClient(Astro.request);
const livingLabs = await api.getLivingLabs();

const labs =
  livingLabs
    ?.map((lab) => ({
      id: lab.id,
      name: lab.name,
    }))
    ?.sort((a, b) => a.name.localeCompare(b.name)) || [];
---

<Layout role="visitor">
  <div class="px-6 py-12">
    <section class="max-w-3xl mx-auto">
      <h2>Provide your contact and login information</h2>
      <p class="text-warning italic mb-6">
        Please use official partner emails for security and moderation purposes.
      </p>
      <SignupForm livingLabs={labs} client:load />
    </section>
  </div>
</Layout>
